.headerContainer {
    position: relative;
    top: 0;
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 3;
    background-color: black;
    background: url('http://cdn.pcwallart.com/images/playing-piano-black-and-white-wallpaper-3.jpg') no-repeat top center;
    background-size: cover;
}

.title, .slogan {
    text-align: center;
    color: lightblue;
}

.title {
    animation: headerH1 2s forwards;
}

.slogan {
    animation: headerH2 2s forwards
}

.enterNote {
    height:240px;
    width: 120px;
    background: url('../../assets/images/enternote.png') top center;
    background-size: cover;
    animation: image 3s forwards;
}

@keyframes headerH1 {
    0% {
        opacity: 0;
        transform: translate(0,-3000px)
    }

    100% {
        opacity: 1;
        align-self: center;

    }

}

@keyframes headerH2 {
    0% {
        opacity: 0;
        transform: translate(0,3000px)
    }

    100% {
        opacity: 1;
        align-self: center;
    }

}

@keyframes image {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }

}

/*@media screen and (max-width: 700px) {*/
    /*.headerContainer {*/
        /*height: 50vh;*/
    /*}*/
    /*.enterNote {*/
        /*height:120px;*/
        /*width: 60px;*/
    /*}*/
/*}*/