.appInfoContainer {
    flex: 1;
    display: flex;
    position: relative;
    max-height: 500px;
    min-height: 300px;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/*<---------------------InfoSection Container----------------->*/

.defAP {
    flex: 1;
    order: 2;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}