.appInfoContainer {
    display: flex;
    position: relative;
    height: 1400px;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/*<---------------------InfoSection Container----------------->*/

.wholeInfoContainer {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center; *when mobile*!*/
    width: 100%;
    height: 1000px;
    z-index: 3;
}