.appInfoContainer {
    display: flex;
    position: relative;
    height: 1000px;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    justify-content: flex-start;
    flex-direction: column;
}

.train {
    width: 310px;
    height: 240px;
    z-index: 3;
    animation: appPictures 1s forwards;
}

.appPicture1 {
    background: url('../../assets/images/Perfect_Pitch_training.png') top center;
    background-size: cover;
    width: 310px;
    height: 240px;
    z-index: 3; /*was 10*/
    animation: appPictures 1s forwards;
}

@keyframes appPictures {
    0% {
        opacity: 0;
        transform: translate(0,-1000px)
    }

    100% {
        opacity: 1;
    }
}

/*<---------------------InfoSection Container----------------->*/

.wholeInfoContainer {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*align-items: center; *when mobile*!*/
    width: 75%;
    height: 1000px;
    z-index: 3;
}