.container {
    display: flex;
    border: 1px solid black;
    width: 50%;
    flex-wrap: nowrap;
    /*justify-content: center; going to just hard code the widths.*/
    height: 300px;
}

.keys {
    width: 44px;
    color: #FFFFFF;
    height: 300px;
    border: 1px solid black;
    margin: 0;
}