/*<-------------------individual infoContainers------------------>*/
.infoContainer {
    max-height: 400px;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: #fff;
}

.infoLeft {
    align-self: flex-start;
    animation: infoStart 2s forwards;
}

.infoRight {
    align-self: flex-end;
    animation: infoEnd 2s forwards;
}

/*<-------------------individual infoImages---------------------->*/

.infoImage {
    height: 240px;
    width: 300px;
    background-position: top center;
    background-size: 100% 100%;
}

.imageLeft {
    order: 2;
}

.imageRight {
    order: 1;
}

/*<------------------individual descriptions--------------------->*/

.infoDescription {
    /*add width?*/
    align-self: center;
    text-align: justify;
    color: black;
}

.descriptionLeft {
    order: 1
}

.descriptionRight {
    order: 2;
}

.h3 {
    text-align: center;
}

@keyframes infoStart {
    0% {
        opacity: 0;
        transform: translate(-1000px,0)
    }

    100% {
        opacity: 1;
    }
}

@keyframes infoEnd {
    0% {
        opacity: 0;
        transform: translate(2000px,0)
    }

    100% {
        opacity: 1;
    }
}
