/*<-------------------individual infoContainers------------------>*/
.infoSectionContainer {
    flex: 1;
    /*height: 1000px;*/
    max-width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background: #FFFFFF;
}
.hideInfoSection {
    height: 1000px;
}

@media screen and (max-width: 740px) {
    .infoSectionContainer {
        max-width: 100%;
        flex: 2;
        margin-bottom: 10px;
    }
}

.infoLeft {
    order: 1;
    animation: infoStart 2s forwards;
}

.infoRight {
    order: 2;
    animation: infoEnd 2s forwards;
}

/*<-------------------individual infoImages---------------------->*/

.infoImage {
    flex: 3;
    order: 1;
    height: 50%;
    width: 100%;
    background-position: top center;
    background-size: 100% 100%;
    padding: 10px;
    flex-basis: auto;
}

/*<------------------individual descriptions--------------------->*/

.infoDescription {
    order: 2;
    width: 100%;
    font-size: 18px;
}

/*<-----------------HEADER---------------->*/
.infoSectionContainer h3 {
    flex: 1;
    order: 3;
    text-align: center;
    width: 100%;
}

.link {
    color: black;
}


@keyframes infoStart {
    0% {
        opacity: 0;
        transform: translate(-1000px, 0)
    }

    100% {
        opacity: 1;
    }
}

@keyframes infoEnd {
    0% {
        opacity: 0;
        transform: translate(2000px, 0)
    }

    100% {
        opacity: 1;
    }
}
