/*<-------------------individual infoContainers------------------>*/
.infoContainer {
    flex: 1;
    max-height: 400px;
    max-width: 45%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: #fff;
}

.infoLeft {
    align-self: flex-start;
    animation: infoStart 2s forwards;
}

.infoRight {
    align-self: flex-end;
    animation: infoEnd 2s forwards;
}

@media screen and (max-width: 740px) {
    .infoContainer.infoLeft, .infoContainer.infoRight {
        align-self: stretch;
        width: 100%;
    }
}

/*<-------------------individual infoImages---------------------->*/

.infoImage {
    height: 240px;
    width: 300px;
    background-position: top center;
    background-size: cover;
    padding: 15px;
    margin: 10px;
}

/*<------------------individual descriptions--------------------->*/




@keyframes infoStart {
    0% {
        opacity: 0;
        transform: translate(-1000px,0)
    }

    100% {
        opacity: 1;
    }
}

@keyframes infoEnd {
    0% {
        opacity: 0;
        transform: translate(2000px,0)
    }

    100% {
        opacity: 1;
    }
}
