.appPicContainer {
    flex: 2;
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    /*align-items: center; *when mobile*!*/
    width: 100%;
    min-height: 500px;
    max-height: 1000px;
    z-index: 3;
    background: #fff;
}

@media screen and (max-width: 740px) {
    .appPicture {

    }
}