.container {
    display: flex;
    position: absolute;
    height: 5000px;
    width: 100%;
    align-items: stretch;
    top: 1000px;
    animation: appPictures 1s forwards;
    z-index: 2;
    background-color: black;
}

.appPicture1 {
    background: url('../../assets/images/Perfect_Pitch_training.png') top center;
    background-size: cover;
    width: 310px;
    height: 240px;
}

@keyframes appPictures {
    0% {
        opacity: 0;
        transform: translate(-1000px)
    }

    100% {
        opacity: 1;
        justify-content: space-around;
        flex-direction: row;
    }

}

