.container {
    display: flex;
    background-size: cover;
    height: 330px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    position: absolute;
    top: 100px;
}

.hideDiv {
    display: none;
}

.picture1 {
    background: url('../../assets/images/Perfect_Pitch_training.png') top center;
    background-size: cover;
    width: 310px;
}