.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5000px;
    width: 100%;
    background: #1C1D3B url('../../assets/images/colorfulnote.png');
}

.header {
    position: relative;
    /*flex-grow: 1;*/
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    /*<-------------SPACE---------->*/
    /*http://i.giphy.com/jhBMUwiySFOg0.gif*/
    /*http://i.giphy.com/pk58i4Fw4L9bG.gif*/
    /*http://i.giphy.com/533FbUP4hGQxO.gif*/
    background: url("http://i.giphy.com/533FbUP4hGQxO.gif");
    background-size: 100% 100%;
    /*background-color: #c1ddff;*/
    background-color: #a9aeff;
    background-blend-mode: multiply;
}

.engage {
    padding: 20px 30px;
    border-radius: 80%;
}