.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 0;
    background: rgba(0,0,0,1)
}

/*.header {*/
    /*position: relative;*/
    /*!*flex-grow: 1;*!*/
    /*display: flex;*/
    /*top: 3000px;*/
    /*justify-content: center;*/
    /*height: 300px;*/
    /*width: 100%;*/
    /*z-index: 4;*/

    /*!*<-------------USED THIS ONE------------>*!*/
    /*background-image: url("http://i.giphy.com/533FbUP4hGQxO.gif"),*/
    /*linear-gradient(*/
            /*to top,*/
            /*rgba(0,0,0,1),*/
            /*rgba(0,0,0,0) 30%*/
    /*);*/
    /*background-size: 100% 100%;*/

/*}*/

.content {
    position: relative;
    top: 500px;
    width: 100%;
    z-index: 3;
}

.example {
    height: 500px;
    width: 730px;
    background-color: #a9aeff;
}

.examplea {
    margin-top: 2000px;
    height: 500px;
    width: 730px;
    background-color: #a9aeff;
}

.engage {
    padding: 20px 30px;
    border-radius: 80%;
}

.showImages {
    position: relative;
    top: 10000px;
    width: 300px;
    background-color: springgreen;
}