.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header {
    position: relative;
    /*flex-grow: 1;*/
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%;
    /*<-------------SPACE---------->*/
    /*http://i.giphy.com/jhBMUwiySFOg0.gif*/
    /*http://i.giphy.com/pk58i4Fw4L9bG.gif*/
    /*http://i.giphy.com/533FbUP4hGQxO.gif*/
    background-image: url("http://i.giphy.com/533FbUP4hGQxO.gif"),
    linear-gradient(
            to top,
            rgba(0,0,0,1),
            rgba(0,0,0,0) 30%
    );
    background-size: 100% 100%;
    /*background-color: #c1ddff;*/
    /*background-color: #a9aeff;*/
    /*background-blend-mode: multiply;*/
    z-index: 1000000001;
}

.example {
    height: 500px;
    width: 730px;
    background-color: #a9aeff;
}

.example2 {
    margin-top: 2000px;
    height: 500px;
    width: 730px;
    background-color: #a9aeff;
    margin-bottom: 1000px;
}

.examplea {
    margin-top: 1000px;
    height: 500px;
    width: 730px;
    background-color: #a9aeff;
}

.engage {
    padding: 20px 30px;
    border-radius: 80%;
}