.songContainer {
    overflow-y: auto;
    background-color: #d9edf7;
    max-height: 60%;
}

.noteGroup {
    list-style: none;
    padding-left: 2%;
}

.noteGroup:hover {
    cursor: hand;
}

/*can't :focus list items. Do this by adding classes instead.*/
.noteGroup > li.selected {
    background-color: #03A9F4;
    color: #d9edf7;
}