/*<-------------------MAIN NAVIGATION MODAL CONTAINER AND ANIMATION ----------------->*/
.navModal {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 45%;
    width: 30%;
    background-color: rosybrown;
    animation: popNavModal 4s forwards 4s;
    z-index: -1;
    perspective: 1200px;
}

@keyframes popNavModal {
    0% {
        display: none;
    }
    10% {

    }
    50% {
        display: flex;
    }
    100% {
    }
}

/*<-------------------PAGES-------------------->*/

.pageContainer {
    perspective: 1200px;
    displaY: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 75%;
    width: 700px;

    /*fixes-blue and brown border when using react-modal.*/
    outline:none!important
}

.page {
    display: inline-block;
    position: fixed;
    z-index: 1; /* the content page should go behind the cover pages */

    /* Size & Position */
    /*left: 50%;*/
    width: 40%;
    height: 100%;
    /*margin-left: -180px; !* half of width *!*/
    /*top: 50%;*/
    /*height: 500px;*/
    /*margin-top: -250px; !* half of height *!*/

    /* Add some styling, so the pages are opaque */
    background-color: #eee;

    /* Hide backface of each page/side, so we don't see it when turned */
    backface-visibility: hidden;

    /* Set up animation */
    /*transition: transform 1.0s ease;*/

    /* Hide content that overflows the page */
    overflow: hidden;
}

/*@media screen and (max-width: 800px) {*/
    /*.page {*/
        /*width: 240px;*/
        /*margin-left: -120px;*/
        /*height: 333px;*/
    /*}*/
/*}*/

.page.odd {
    /* odd pages flip along left side, and with minus degree rotation */
    transform-origin: 0% 0%;
    width: 50%;

    /* Set animation for auto-turning the odd pages */
    animation: turn-odd 2s ease 1s normal forwards;

    /* Some styling */
    border-radius: 0 8px 8px 0px;

    box-shadow: inset 15px 0px 15px -15px rgba(0,0,0, 0.2);

    background: url('../../assets/images/cork-wallet.png') repeat top center;
    background-size: 100% 100%;

}

.page.even {
    left: -25%;
    /*margin-left: -540px; !* 1,5 * width to position it left of odd pages *!*/
    /* even pages flip along right side, and with positive degree rotation */
    transform-origin: 100% 0%;
    width: 50%;

    transform: rotateY(180deg); /* even pages start rotated (closed book) */


    /* Set animation for auto-turning the even pages */
    animation: turn-even 4s ease 1s normal forwards;


    /* Some styling */
    border-radius: 8px 0 0 8px;

    box-shadow: inset -15px 0 15px -15px rgba(0,0,0, 0.3);

    background: url('../../assets/images/Billie_Jean_Sheet_Music.jpg') top center;
    background-size: 100% 100%;
}

/* Put cover pages in front of content page */
#cover {
    z-index: 3;
}
#cover_back {
    z-index: 2;
}

/* Unset animation on content page (it shouldn't turn) */
#content {
    display: flex;
    justify-content: center;
    align-items: center;


    /* Some styling */
    padding: 10px 25px;
    overflow-y: auto;

    background: #fff top center;
    background-size: 100% 100%;

    /*animate to zoom in*/
    animation: zoomContent 1s 2s forwards;
}

/* Setting up the animations */
@keyframes turn-odd {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }

}

@keyframes turn-even {
    0% {
        transform: rotateY(180deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    100% {
        transform: translate(-1000px);
    }
}

@keyframes zoomContent {
    0% {

    }
    100% {
        z-index: 10;
        transform: translate(-90px,-125px) scale(1.5,1.5);
        position: fixed;
    }
}