/*<-------------------PAGES-------------------->*/
.pageContainer {
    perspective: 1200px;
    displaY: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 75%;
    width: 700px;
    z-index: 10;
    outline: none !important
}

.page {
    display: inline-block;
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 100%;
    background-color: #eee;
    backface-visibility: hidden;
    overflow: hidden;
}

.page.odd {
    transform-origin: 0% 0%;
    width: 50%;
    animation: turn-odd 2s ease 1s normal forwards;
    border-radius: 0 8px 8px;
    box-shadow: inset 15px 0 15px -15px rgba(0, 0, 0, 0.2);
    background: url('../../assets/images/cork-wallet.png') repeat top center;
    background-size: 100% 100%;

}

.page.even {
    left: -25%;
    transform-origin: 100% 0%;
    width: 50%;
    transform: rotateY(180deg);
    animation: turn-even 4s ease 1s normal forwards;
    border-radius: 8px 0 0 8px;
    box-shadow: inset -15px 0 15px -15px rgba(0, 0, 0, 0.3);
    background: url('../../assets/images/Billie_Jean_Sheet_Music.jpg') top center;
    background-size: 100% 100%;
}

#cover {
    z-index: 3;
}

#cover_back {
    z-index: 2;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    overflow-y: auto;
    background: #fff top center;
    background-size: 100% 100%;
    animation: zoomContent 1s 2s forwards;
}

/*trigger zoom in animation for a smaller screen.*/
@media screen and (max-width: 740px) {
    #content {
        animation: zoomContentResponsive 1s 2s forwards;
    }
}

@keyframes turn-odd {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg);
    }

}

@keyframes turn-even {
    0% {
        transform: rotateY(180deg);
    }

    50% {
        transform: rotateY(0deg);
    }

    100% {
        transform: translate(-1000px);
    }
}

@keyframes zoomContent {
    100% {
        z-index: 10;
        transform: translate(-90px, -125px) scale(1.5, 1.5);
        position: fixed;
    }
}

@keyframes zoomContentResponsive {
    100% {
        z-index: 10;
        transform: translate(-24%, -18%) scale(1.5, 1.5);
        position: fixed;
    }
}

/*<------------------------CLOSE NAV MODAL CSS------------------->*/

#content.closeContent {

    /*<---added--->*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    overflow-y: auto;
    background: #fff top center;
    background-size: 100% 100%;
    animation: zoom-content-reverse 1s forwards;
    transform-origin: 0% 0%;
    z-index: 10;
}

.page.even.closeBack {
    /*left: -25%;*/
    transform-origin: 100% 0%;
    transform: rotateY(0deg) translate(-1000px);
    animation: turn-even-reverse 2s ease normal forwards;
    z-index: 11;
}

.page.odd.closeCover {
    transform: rotateY(-180deg);
    transform-origin: 0% 100%;
    animation: turn-odd-reverse 1s 1s ease normal forwards;
}

/*trigger zoom in animation for a smaller screen.*/
@media screen and (max-width: 740px) {
    #content.closeContent {
        animation: zoom-content-responsive-reverse 1s forwards;
    }
}

/*<-----------------CLOSE ANIMATIONS---------------->*/

@keyframes turn-even-reverse {
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes zoom-content-reverse {
    0% {
        transform: translate(-90px, -125px) scale(1.5, 1.5);
        position: fixed;
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@keyframes turn-odd-reverse {
    100% {
        transform: rotateY(0deg);
        z-index: 1000;
    }
}

@keyframes zoom-content-responsive-reverse {
    0% {
        z-index: 10;
        transform: translate(-24%, -18%) scale(1.5, 1.5);
        position: fixed;
    }
    100% {
        transform: translate(0,0) scale(1,1)
    }
}