.modalHeader {
    background: #fff;
    padding: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1877E6;
}

.pointer {
    cursor: pointer;
}

.modalBody {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    align-items: stretch;
}

/*<-----------------------HAMBURGER----------------->*/

.hamburgerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18px;
    height: 17px;
    margin: 6px 0;
}

.hamburger {
    position: relative;
    height: 1px;
    background-color: black;
    width: 18px;
}

.hamburger::before {
    content: "";
    position: absolute;
    background-color: green;
    height: 1px;
    top: -5px;
    left: 0;
    width: 18px;
}

.hamburger::after {
    content: "";
    position: absolute;
    background-color: blue;
    height: 1px;
    top: 5px;
    left: 0;
    width: 18px;
}

.hamburgerContainer:hover .hamburger::before {
    animation: animateTop 1s forwards;
}

.hamburgerContainer:hover .hamburger::after {
    animation: animateBottom 1s forwards;
}

@media screen and (max-width: 739px) {
    .hamburgerContainer:hover {
        animation: animateBlink 0.5s;
    }
    .hamburgerContainer:hover .hamburger::before {
        animation: animateTop 0.5s 0.5s forwards;
    }
    .hamburgerContainer:hover .hamburger::after {
        animation: animateBottom 0.5s 0.5s forwards;
    }
}

@media screen and (min-width: 740px) {
    .hamburgerContainer:hover {
        animation: animateBackground 1s 0.2s forwards;
    }
}

@keyframes animateBlink {
    0%{
        background-color: lightblue;
        border-radius: 14%;
    }
    75% {
        background-color: lightblue;
        border-radius: 14%;
    }
    100% {
        background-color: #fff;

    }
}

@keyframes animateTop {
    0% {
        transform: translate(0,-4px);
    }

    50% {
        transform: translate(0,-7px);
    }

    100% {
        transform: translate(0,-6px);
    }
}

@keyframes animateBottom {
    0% {
        transform: translate(0,4px);
    }
    50% {
        transform: translate(0,7px);
    }
    100% {
        transform: translate(0,6px);
    }
}

@keyframes animateBackground {
    0% {
        background: url('../../assets/images/whole_note.png') no-repeat;
        background-size: 80% 60%;
        background-position: -50% 110%;
    }
    100% {
        background: url('../../assets/images/whole_note.png') no-repeat;
        background-size: 80% 60%;
        background-position: -50% -110%;
    }
}


/*<--------------------MODAL BACKGROUND AND ANIMATION------------------->*/
.bgModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    animation: popBgModal 1s forwards;
    background-color: rgba(0,0,0,0.75);
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes popBgModal {
    0% {
        transform: scale(0,0);
    }
    10% {
        transform: scale(10,0);
    }
    100% {
    }
}
/*<-----------------CLOSE MODAL BACKGROUND-------------------->*/
.bgModalContainer.closeBG {position: fixed;
    animation: closeModal 1s 2s forwards;
}

@keyframes closeModal {
    100% {
        transform: scale(0,0);
    }
}