.container {
    border: 1px solid mediumspringgreen;
    width: 300px;
    height: 100px;
}

@media screen and (max-width: 740px) {
    .container {
        border-top: none;
        width: 100%;
    }
}