.scoreModeContainer {
    border: 1px solid mediumspringgreen;
    width: 300px;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.info {
    width: 100%;
    height: 20%;
}

@media screen and (max-width: 740px) {
    .info {
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 740px) {
    .scoreModeContainer {
        height: 100%;
        width: 100%;
    }
}

/*.content {*/
    /*margin-bottom: 0;*/
    /*overflow-y: scroll;*/
/*}*/

.error {
    color: red;
}

.proceed {
    padding: 4px 0 0 4px;
    background-color: #c4e3f3;
    color: black;
    font-weight: bold;
    height: 20%;
    margin-bottom: 0;
}

@media screen and (max-width: 740px) {
    .proceed {
        height: 150px;
        padding: 4px 0 0 16px;
        width: 100%;
    }
}